%tr{data: {build_table_row: build.id}}
  %td.hidden-xs-down
    %h3= build.name
  %td.hidden-xs-down
    %h3
      %span.label{class: (build_status_label_class(build))}
        = build.status.humanize(capitalize: false)
  %td.hidden-xs-down.text-nowrap
    = link_to 'Edit', edit_build_path(build), class: 'btn btn-secondary'
    = link_to 'Launch', build_path(build), class: 'btn btn-primary'
  %td.hidden-sm-up
    %h3
      %span.build-status-circle{class: build_status_class(build)}
      = build.name
    %h3.text-nowrap
      = link_to 'Edit', edit_build_path(build), class: 'btn btn-secondary'
      = link_to 'Launch', build_path(build), class: 'btn btn-primary'
